<p id="notice"><%= notice %></p>

<h1>Studens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studens.each do |studen| %>
      <tr>
        <td><%= studen.name %></td>
        <td><%= studen.age %></td>
        <td><%= link_to 'Show', studen %></td>
        <td><%= link_to 'Edit', edit_studen_path(studen) %></td>
        <td><%= link_to 'Destroy', studen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studen', new_studen_path %>
